
@{
    ViewBag.Title = "RolEkle";
   
}

<form action="@Url.Action("RolEkle","Anasayfa")" method="post" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="Rol_AD">Rol Adı Giriniz</label>
            <div class="col-md-8">
                <input id="Rol_AD" name="Rol_AD" type="text" placeholder="Rol Adı" class="form-control input-md">

            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for=""></label>
            <div class="col-md-4">
                <button id="" name="" class="btn btn-success">Kaydet</button>
            </div>
        </div>

    </fieldset>
</form>