



<div class="parallax" data-background="images/home-parallax.jpg" data-color="#36383e" data-color-opacity="0.45" data-img-width="2500" data-img-height="1600">
    <div class="parallax-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <!-- Main Search Container -->
                    <div class="search-container">
                        <!-- Form -->
                        <h2>Sen o evi hayal et, gerisi <mark class="color">Emlak Sisteminde</mark> </h2>
                      @{ 
                          Html.RenderAction("AnaSayfaArama", "EkSayfalar");
                      }

                        
                    </div>
                    <!-- Main Search Container / End -->
                </div>
            </div>
        </div>
    </div>
</div>