


<section class="fullwidth margin-top-105" data-background-color="#f7f7f7">
    <!-- Box Headline -->
    <h3 class="headline-box">Ne Arıyorsunuz ? </h3>

    <!-- Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">
                    <div class="icon-container">
                        <i class="im im-icon-Office"></i>
                        <div class="icon-links">
                            <a href="@Url.Action("Ilanlar","Emlak")">Tüm İlanlar</a>
                        </div>
                    </div>
                    <h3>Konut</h3>
                    <p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">
                    <div class="icon-container">
                        <i class="im im-icon-Factory-2"></i>
                        <div class="icon-links">
                            <a href="@Url.Action("Ilanlar","Emlak")">Tüm İlanlar</a>
                        </div>
                    </div>
                    <h3>İşyeri</h3>
                    <p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">
                    <div class="icon-container">
                        <i class="im im-icon-Farmer"></i>
                        <div class="icon-links">
                            <a href="@Url.Action("Ilanlar","Emlak")">Tüm İlanlar</a>
                        </div>
                    </div>
                    <h3>Arsa</h3>
                    <p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <!-- Icon Box -->
                <div class="icon-box-1">
                    <div class="icon-container">
                        <i class="im im-icon-Bow-5"></i>
                        <div class="icon-links">
                            <a href="@Url.Action("Ilanlar","Emlak")">Tüm İlanlar</a>
                        </div>
                    </div>
                    <h3>Devremülk</h3>
                    <p>Aliquam dictum elit vitae mauris facilisis, at dictum urna dignissim donec vel lectus vel felis.</p>
                </div>
            </div>
        </div>
    </div>
</section>