@model IEnumerable<EmlakSistemi.Models.aspnet_Users>


<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Firmalar</h2>
                <span>Firma Listesi</span>

            </div>
        </div>
    </div>
</div>

<!-- Content
================================================== -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- Main Search Input -->
            <div class="main-search-input margin-bottom-40">
                <input type="text" class="ico-01" placeholder="Firma Adı Giriniz" value="" />
                <button class="button">Ara</button>
            </div>
        </div>

        <div class="col-md-12">
            <div class="row">
                <!-- Agents Container -->
                <div class="agents-grid-container">
                    <!-- Agent -->
                    @foreach (var item in Model)
                    {
                        <div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="agent">
                                <div class="agent-avatar">
                                    <a href="agent-page.html">
                                        <img src="~/images/logo-04.png" alt="">
                                        <span class="view-profile-btn">Firma Sayfası</span>
                                    </a>
                                </div>
                                <div class="agent-content">
                                    <div class="agent-name">
                                        <h4><a href="agent-page.html">@item.UserName.ToUpper()</a></h4>
                                    </div>
                                    <ul class="social-icons">
                                        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                                        <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    }
                    
                    <!-- Agent / End -->

                </div>
                <!-- Agents Container / End -->
            </div>
        </div>

        <div class="col-md-12">
            <div class="clearfix"></div>
            <!-- Pagination -->
            <div class="pagination-container margin-top-20">
                <nav class="pagination">
                    <ul>
                        <li><a href="#" class="current-page">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </nav>
                <nav class="pagination-next-prev">
                    <ul>
                        <li><a href="#" class="prev">Previous</a></li>
                        <li><a href="#" class="next">Next</a></li>
                    </ul>
                </nav>
            </div>
            <!-- Pagination / End -->
        </div>
    </div>
</div>
